h1 {
  color: white;
  background-color: #173F5F;
  font-size: 50px;
  font-weight: bold;
  padding: 3px;
  border-radius: 3px;
}

h2{
  color: white;
  background-color: #235347;
  font-size: 35px;
  padding: 3px;
  border-radius: 3px;
}

p{
  font-size: 15px;
  font-family: Helvetica, Sans-Serif;
}

body{
  background-color: #173F5F;
}

ul{
  background-color: #173F5F;
  font-size: 15px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 18px;
}

.span{
  background-color: #173F5F ;
}

.col-sm-8{
  background-color: #fff;

}